:host p-dataview ::ng-deep .p-dataview-content {
    background: none !important;
    background-color: transparent !important;
}

app-personal-card {
    &:last-child {
        margin-bottom: 15px;
    }
}
