<p-card>
	<ng-template #title>{{ currentRoute.title | async }}</ng-template>
	<ng-template #subtitle>Manage cards</ng-template>
	<ng-template #content>
		<div class="flex space-y-4 mt-4 rtl">
			<div class="flex flex-col">
				<div class="flex flex-col">
					<p-button label="Add new card" (click)="cardService.showCreateCardDialog()" severity="primary" icon="pi pi-plus" />
				</div>
			</div>
		</div>
	</ng-template>
</p-card>

<p-dataview [value]="cards()" layout="grid" [rows]="20" [paginator]="true" styleClass="mt-4">
	<ng-template #grid let-items>
		<div class="grid grid-cols-3 gap-4">
			@for (card of items; track $index) {
                <app-personal-card
                    [model]="card"
                    [menu]="rowMenu"
                    (onActionClick)="onActionsBtnClick($event)"
                >
                </app-personal-card>
			}
		</div>
	</ng-template>
</p-dataview>

<div class="grid grid-cols-3 gap-2 pt-4 w-full"></div>

<app-card-dialog [(visible)]="cardService.cardDialogVisible" [card]="selectedCard"></app-card-dialog>

<p-menu #rowMenu [model]="rowActions" [popup]="true" />
<p-confirm-dialog [style]="{ width: '500px' }" />
