:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --topbar-background: rgba(255, 255, 255, 0.5);
    --topbar-bottom-border-color: var(--p-surface-200);
}
